<h1>Menu!</h1>

<table>
  <thead>
    <tr>
      <th>Costo total de la orden: </th>
      
      
      
      
      <%= link_to 'New Orden', new_orden_path %>
   'no dar click'
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
    <tr>
      <td><img src="/imagenes/picon.jpg" alt="rss feed" /></td>
    </tr>
    
    <tr>
      <td><img src="/imagenes/peperoni.jpg" alt="rss feed" /></td>
      <td>"Aqui va el precio"</td>
      <td>"Aqui va la descripcion"</td>
      <td>"Aqui va donde se ingresa cantidad"</td>
    </tr>
    
    <tr>
      <td><img src="/imagenes/jamon.jpg" alt="rss feed" /></td>
      <td>"Aqui va el precio"</td>
      <td>"Aqui va la descripcion"</td>
      <td>"Aqui va donde se ingresa cantidad"</td>
    </tr> 
    
    <tr>  
    <td> <img src="/imagenes/champi.jpg" alt="rss feed" />
      <td>"Aqui va el precio"</td>
      <td>"Aqui va la descripcion"</td>
      <td>"Aqui va donde se ingresa cantidad"</td>
    </tr>  

    
    <tr>
      <td><img src="/imagenes/sicon.jpg" alt="rss feed" /></td>
    </tr>
    
    <tr>
      <td><img src="/imagenes/spa1.jpeg" alt="rss feed" /></td>
    <td>"Aqui va el precio"</td>
      <td>"Aqui va la descripcion"</td>
      <td>"Aqui va donde se ingresa cantidad"</td>
    </tr>
    
    <tr>
      <td><img src="/imagenes/spa2.jpg" alt="rss feed" /></td>
    <td>"Aqui va el precio"</td>
      <td>"Aqui va la descripcion"</td>
      <td>"Aqui va donde se ingresa cantidad"</td>
    </tr>
    
    <tr>
      <td><img src="/imagenes/micon.jpg" alt="rss feed" /></td>
    </tr>
    
    <tr>  
      <td><img src="/imagenes/nieve.jpg" alt="rss feed" /></td>
    <td>"Aqui va el precio"</td>
      <td>"Aqui va la descripcion"</td>
      <td>"Aqui va donde se ingresa cantidad"</td>
    </tr>
    
    <tr>
      <td><img src="/imagenes/muffin.jpg" alt="rss feed" /></td>
  <td>"Aqui va el precio"</td>
      <td>"Aqui va la descripcion"</td>
      <td>"Aqui va donde se ingresa cantidad"</td>
    </tr>
    
    <tr>
      <td><img src="/imagenes/bicon.jpg" alt="rss feed" /></td>
    </tr>
    
    <tr>
      <td><img src="/imagenes/coca.jpg" alt="rss feed" /></td>
      <td>"Aqui va el precio"</td>
      <td>"Aqui va la descripcion"</td>
      <td>"Aqui va donde se ingresa cantidad"</td>
    </tr>
    
    <tr>
      <td><img src="/imagenes/fanta.jpg" alt="rss feed" /></td>
      <td>"Aqui va el precio"</td>
      <td>"Aqui va la descripcion"</td>
      <td>"Aqui va donde se ingresa cantidad"</td>
    </tr>
    
    <tr>
      <td><img src="/imagenes/sprite.jpg" alt="rss feed" /></td>
      <td>"Aqui va el precio"</td>
      <td>"Aqui va la descripcion"</td>
      <td>"Aqui va donde se ingresa cantidad"</td>
    </tr>
    
  </tbody>
</table>

<br>


<%= link_to image_tag("/imagenes/confirmar.jpg", :border => 0, :alt => '', :title => ''), new_platillo_path, :class => 'dock-item' %>